<h1>Stats</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Minutes Played</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Clean Sheets</th>
      <th>Goals Conceded</th>
      <th>Saves</th>
    </tr>
  </thead>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.minutes %></td>
      <td><%= player.goals %></td>
      <td><%= player.assists%></td>
      <td><%= player.clean_sheets %></td>
      <td><%= player.goals_conceded %></td>
      <td><%= player.saves %></td>
    </tr>
  <% end %>
</table>

<!-- <button class="see-data btn btn-info">See Some JSON!</button> -->

<div>
<select id="see-data" class="btn btn-default">
  <option value="">Choose a Statistic</option>
  <option value="goals">Goals</option>
  <option value="assists">Assists</option>
</select>
</div>

<div id="graph"></div>

<hr />